/* CadastroLivro.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* Centraliza na horizontal */
    align-items: center;      /* Centraliza na vertical */
    min-height: 100vh;        /* Garante que ocupe toda a altura da tela */
}

.cadastro-livro-container {
    max-width: 600px;
    width: 100%;  /* Para que o contêiner seja responsivo */
    margin: 0;    /* Remover a margem de 40px */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus {
    border-color: #000307;
    outline: none;
}

input[type="submit"] {
    padding: 12px;
    font-size: 16px;
    background-color: #770050;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #47012a;
}

input[type="submit"]:active {
    background-color: #44022e;
}

div {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .cadastro-livro-container {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }
}
